<div container>
    <form class="row g-4 m-2">
        <div class="col-6">
            <label for="emailInput" class="form-label">Email:</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Escribe tu email">
        </div>
        
        <div class="col-6">
            <label for="paswordInput" class="labe-form">Contraseña:</label>
            <input type="password" class="form-control" id="paswordInput" placeholder="Escribe tu contraseña">  
        </div>

        <div class="col-12">
            <label for="textInput" class="label-form">Inquietud:</label>
            <input type="text" class="form-control" id="textInput" placeholder="Describe tu problema">
        </div>

        <div class="col-6">
            <label for="ciudadInput" class="label-form">Ciudad:</label>
            <input type="text" class="form-control" id="ciudadInput" placeholder="ciudad donde vive actualmente">
        </div>

        <div class="col-4">
            <label for="paisInput" class="label-form">Pais:</label>
            <input type="text" class="form-control" id="paisInput" placeholder="Nombre de su pais">
        </div>

        <div class="col-2">
            <label for="codigoInput" class="label-form">Codigo Postal:</label>
            <input type="text" class="form-control" id="codigoInput" placeholder="Escriba su codigo postal">
        </div>
    </form>
</div>
